<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shangxin.sundries.dal.mapper.TUserMapper">
	<resultMap id="TUserEntityMap" type="com.shangxin.sundries.dal.entity.TUserEntity">
		<result column="serialVersionUID" property="serialVersionUID" />
		<result column="user_id" property="userId" />
		<result column="phone" property="userName" /> 
		<result column="real_name" property="realName" />
		<result column="user_name" property="nickName" /> 
		<result column="user_password" property="userPassword" />
		<result column="remark" property="remark" />
		<result column="inviter_id" property="inviterId" />
		<result column="add_time" property="addTime" />
		<result column="vip_level" property="vipLevel" />
		<result column="source" property="source" />
		<result column="flag" property="flag" />
		<result column="user_avatar" property="userAvatar" />
		<result column="user_sex" property="userSex" />
		<result column="birthday" property="birthday" />
		<result column="user_paypwd" property="userPaypwd" />
		<result column="user_email" property="userEmail" />
		<result column="user_qq" property="userQq" />
		<result column="user_ww" property="userWw" />
		<result column="user_login_num" property="userLoginNum" />
		<result column="user_points" property="userPoints" />
		<result column="last_login_time" property="lastLoginTime" />
		<result column="shopping_state" property="shoppingState" />
		<result column="openid" property="openid" />
		<result column="user_wx" property="userWx" />
		<result column="channel" property="channel" />
		<result column="registration_id" property="registrationId" />
	</resultMap>

	<sql id="all_columns">
		user_id,phone,real_name,user_name,user_password,remark,inviter_id,add_time,vip_level,source,flag,user_avatar,user_sex,
		birthday,user_paypwd,user_email,user_qq,user_ww,user_login_num,user_points,last_login_time,shopping_state,openid,user_wx,channel,registration_id
	</sql>
	<sql id="table_name">
		t_user
	</sql>

	<select id="findByUserId" resultMap="TUserEntityMap">
		select
		<include refid="all_columns" />
		from
		<include refid="table_name" />
		where user_id=#{userId}
	</select>

	<select id="findByUserName" resultMap="TUserEntityMap">
		select
		<include refid="all_columns" />
		from
		<include refid="table_name" />
		where phone=#{userName}
	</select>

	<update id="updateUserPassword" >
		update
		<include refid="table_name" />
		set user_password=#{newPassword} where user_id=#{userId}
	</update>

	<insert id="insert" parameterMap="">
		insert into <include refid="table_name" />
		( <include refid="all_columns" /> )
		values( #{userId}, #{userName}, #{realName}, #{nickName},#{userPassword},${remark}, #{inviterId}, now(),  #{vipLevel}, #{source}, 1, #{userAvatar}, #{userSex}, #{birthday},
				#{userPaypwd}, #{userEmail}, #{userQq}, #{userWw}, 0, #{userPoints}, #{lastLoginTime}, 0, #{openid}, #{userWx}, #{channel}, #{registrationId}  
			)
		
	</insert>

	<update id="updateUserLoginInfo">
		update <include refid="table_name" /> set user_login_num=user_login_num+1, last_login_time=now() where user_id=#{userId}
	</update>

</mapper>